@{
    ViewData["Title"] = "Založení nového klienta";
}
<body>
    <div class="zarovnani col-12">
        <form class="col-5 mx-5 ">
            <div class="h3 col-12 my-5 text-center">Vytvoření nového pojištěnce</div>
            <div class="form-group">
                <label for="jmeno">Jméno</label>
                <input type="text" class="form-control" id="jmeno" placeholder="např.Karel">
            </div>
            <br />
            <div class="form-group">
                <label for="prijimeni">Přijímení</label>
                <input type="text" class="form-control" id="prijimeni" placeholder="např.Novák">
            </div>
            <br/>
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="email" class="form-control" id="email" placeholder="karel.novak@seznam.cz">
            </div>
            <br />
            <div class="form-group">
                <label for="ulice">Ulice</label>
                <input type="text" class="form-control" id="ulice" placeholder=" např. Karla Janouška 12">
            </div>
            <br />
            <div class="form-group">
                <label for="psc">PSČ</label>
                <input type="text" class="form-control" id="psc" placeholder=" např. 00120">
            </div>
            <br />
            <div class="form-group">
                <label for="mesto">Město</label>
                <input type="text" class="form-control" id="mesto" placeholder="např. Praha">
            </div>
            <br />
            <button class="btn btn-primary my-3">Odeslat</button>
        </form>
    </div>
</body>